@media (orientation: portrait){
    *{
        transition: 1s;
    }
    body{
        width: 100vw;
        height: 100vh;
    }
    nav{
        width: 100%;
        height: 7.5%;
        /* position: fixed; */
        /* top: 0%; */
    }
    #drop-down-btn{
        display: flex;
        width: 10%;
        height: 100%;
        margin-right: 4%;
        font-size: 30px;
        color: antiquewhite;
        align-items: center;
        justify-content: center;
        background: none;
        border: none;
    }
    #nav-itms{
        width: 100%;
        height: 6%;
        top: 7%;
        left: -100%;
        position: absolute;
        background: rgba(6, 95, 197,0.8);
    }
    .link{
        height: 60%;
    }
    main{
        width: 100%;
        height: 76%;
        margin-bottom: 3%;
        display: flex;
        flex-direction: column-reverse;
    }
    .form{
        height: 95%;
        width: 90%;
        /* margin-bottom: 100%; */
    }
    .input1{
        height: 15%;
        width: 80%;   
    }


    #divall{
        
        height: 70%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 18%;
    }
    .call{
        height: 30%;
        background-color: silver;
        width: 70%;
        text-align: center;
        padding-top: 3%;
        border-radius: 5px;
        margin-left: 2%;
        font-family: Helvetica;
        margin-right: 2%;
        
    }
    #btn1{
        margin-top: 15%;
        width: 30%;
    }
    #btn{
        width: 25%;
        margin-top: 15%;
    }
    #contact{
        margin-top: 20%;
    }
    h2{
        margin-top: 5%;
    }





















}
