@media (orientation: portrait){
    *{
        transition: 1s;
    }
    body{
        max-width: 100vw;
        height: 140vh;
    }
    nav{
        width: 100%;
        height: 6%;
    }
    #drop-down-btn{
        display: flex;
        width: 10%;
        height: 100%;
        margin-right: 4%;
        font-size: 30px;
        color: antiquewhite;
        align-items: center;
        justify-content: center;
        background: none;
        border: none;
    }
    #nav-itms{
        width: 100%;
        height: 7%;
        top: 6%;
        left: -100%;
        position: absolute;
        background: rgba(6, 95, 197,0.8);
    }
    .link{
        height: 60%;
    }
    main{
        width: 100%;
        height: 170%;
        margin-top: 20%;
        display: flex;
        /* background-color: red; */
        flex-direction: column-reverse;
    }
    article{
        width: 95%;
        height: 48%;
        display: flex;
        line-height: 15px;
        font-size: 13px;
        justify-content: center;
        /* align-items: center; */
        /* background: green; */
    }
    aside{
        width: 95%;
        height: 48%;
        /* background: pink; */
    }
    


}
